#flash
  position: fixed
  top: 0
  z-index: 10
  width: 100%
  color: #fff
  font-family: sans-serif
  font-weight: lighter
  font-size: 20px

  div.alert
    background-color: whitesmoke
    padding: 20px
    text-align: center
  div.alert-danger
    background-color: #f95312
  div.alert-success
    background-color: #3cddaf

.inline-alert
  color: red
