.form-section
  width: 100%
  height: 100%
  padding-top: 15%
  text-align: center
  .request-form
    margin: 0 auto
    max-width: 326px
fieldset
  margin: 10px
  padding: 0
  border: 0
  min-width: 0
  input
    width: 100%
    padding: 10px 10px 10px 4px
    border: 0
    font-weight: 200
    font-size: 17px
  input::-moz-placeholder
    opacity: 1
  input::-webkit-input-placeholder
    opacity: 1
  .request-button
    width: 100px
    height: 30px
    cursor: pointer