<section class="form-section">
  <form class="request-form">
    <h1>Ember-Example</h1>
    <fieldset>
      {{input value=hotelId placeholder="Enter Hotel ID (number)" type="number" id="hotel-id"}}
    </fieldset>
    <fieldset>
      {{input value=roomId placeholder="Enter Room ID (number)" type="number" id="room-id"}}
    </fieldset>
    <fieldset>
      <button type="button" class="request-button" {{action 'makeRequest'}}> Find </button>
    </fieldset>
  </form>
</section>