<h3>{{link-to 'back' 'request'}}</h3>
<h2>Info:</h2>
{{#each model as |hotel|}}
  <fieldset>
    <label>Hotel Name:</label>
    {{input value=hotel.name type="text" disabled=true}}
  </fieldset>
  <fieldset>
    <label>Hotel description:</label>
    {{input value=hotel.description type="text" disabled=true}}
  </fieldset>
  <fieldset>
    <label>Hotel awards:</label>
    {{input value=hotel.award type="text" disabled=true}}
  </fieldset>
  <fieldset>
    <label>Hotel address:</label>
    {{input value=hotel.location.address type="text" disabled=true}}
  </fieldset>
  <fieldset>
    <label>Hotel location (longitude):</label>
    {{input value=hotel.location.coordinates.longitude type="text" disabled=true}}
  </fieldset>
  <fieldset>
    <label>Hotel location (latitude):</label>
    {{input value=hotel.location.coordinates.latitude type="text" disabled=true}}
  </fieldset>
    <h2>Rooms:</h2>
    {{#each hotel.rooms as |room|}}
    <ul>
      <li>Room name: {{room.name}}</li>
      <li>Room description: {{room.description}}</li>
      <li>Meal plan: {{room.mealPlan}}</li>
      <li>Quantity Available: {{room.quantityAvailable}}</li>
    </ul>
    {{/each}}
{{/each}}